---
layout: default
---
<div class="post">
  <article>
    {% if page.profile %}
      <div class="about-grid">
        <aside class="profile-sidebar">
          {% if page.profile.image %}
            {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
            {% if page.profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}180px{% endcapture %}
            {%
              include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
              cache_bust=true
            %}
          {% endif %}
          <h1 class="sidebar-name">
            {{ site.first_name }}
            {{ site.last_name }}
          </h1>
          <p class="sidebar-role">Incoming MPhil student @ PolyU DSAI.</p>
          <div class="sidebar-links">
            <div class="sidebar-link-row">
              <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
              <span>Hong Kong SAR, China</span>
            </div>
            <div class="sidebar-link-row">
              <i class="fa-solid fa-envelope" aria-hidden="true"></i>
              <code>yuhang [dot] dai [at] connect [dot] polyu [dot] hk</code>
            </div>
            <a class="sidebar-link-row" href="https://github.com/hiteacherIamhumble">
              <i class="fa-brands fa-github" aria-hidden="true"></i>
              <span>Github</span>
            </a>
          </div>
        </aside>
        <div class="about-content clearfix">{{ content }}</div>
      </div>
    {% else %}
      <div class="clearfix">{{ content }}</div>
    {% endif %}

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
